@use '../../lib/service.scss' as s;
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: s.space(4);
  gap: s.space(8);
  border: 1px solid s.color('light');
  border-radius: 8px;
  margin: 50px;
  align-items: center;

  &__header {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 20px;
  }

  &__subtitle {
    font-size: 16px;
    color: gray;
  }

  &__button {
    color: white;
    background: #0d6efd;
    border-radius: 8px;
    padding: 8px 16px;
    text-decoration: none;
    transition: opacity 3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}
