@use '../../lib/service.scss' as s;
.form {
  display: flex;

  flex-direction: column;
  padding: s.space(4);
  gap: s.space(8);
  border: 1px solid s.color('light');
  border-radius: 8px;
  margin: 50px;

  &__title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: s.space(1);
  }
  &__content {
    display: grid;
    // gap: s.space(4);
  }
  &__block {
    display: flex;
    gap: s.space(4);
    justify-content: space-between;
    margin-bottom: s.space(4);
  }
  &__field {
    display: flex;
    flex-direction: column;
    //  gap: s.space(2);
    width: 100%;
  }
  &__coment {
    font-size: 12px;
    margin-bottom: s.space(4);
  }
  &__button {
    color: white;
    background: #0d6efd;
    border-radius: 0.375rem;
    padding: 8px 16px;
  }
  &__button:hover {
    background: #0b5ed7;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: s.space(10);
}
